/*
Selects all `h1` tags
h1 {
   color:green; 
}

Creates a class and applies to all in class.
.second-h1 {
    font-weight: lighter;
}

Creates an ID and applies to 
#third-h1 {
    font-size: 100px;
}
 */ 
.jumbotron {
    color: white;
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("https://media.eggs.ca/assets/RecipePhotos/_resampled/FillWyIxMjgwIiwiNzIwIl0/Fluffy-Pancakes-New-CMS.jpg");
}
.resizedimg {
    max-width: 200px;
}

.panel-title {
    font-weight: bold;
}

.fruit-pancakes {
    text-decoration: underline;
}

body {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("https://wallpapercave.com/wp/wp2444943.jpg");
    background-attachment: fixed;
}